## While Loop

In [17]:
x = [12,32,44,43,13,67,99,9,23,21]

In [18]:
for item in x:
    if item % 2 == 0:
        print(f"{item} is even")
    else:
        print(f"{item} is odd")

12 is even
32 is even
44 is even
43 is odd
13 is odd
67 is odd
99 is odd
9 is odd
23 is odd
21 is odd

In [19]:
y = []

In [20]:
#decending order. 

#01
for item in x:
    y.append(item)
y.sort(reverse=True)
print(y)

[99, 67, 44, 43, 32, 23, 21, 13, 12, 9]

In [22]:
#While loop
count = 0
while count < 10:
    print(f"Count is {count}")
    count += 1

Count is 0
Count is 1
Count is 2
Count is 3
Count is 4
Count is 5
Count is 6
Count is 7
Count is 8
Count is 9

## Break And Continue

## Break

In [24]:
count_2 = 0

while True:
    if count_2 >= 25:
        break
    print(f"Count_2 is {count_2}")
    count_2 += 1

Count_2 is 0
Count_2 is 1
Count_2 is 2
Count_2 is 3
Count_2 is 4
Count_2 is 5
Count_2 is 6
Count_2 is 7
Count_2 is 8
Count_2 is 9
Count_2 is 10
Count_2 is 11
Count_2 is 12
Count_2 is 13
Count_2 is 14
Count_2 is 15
Count_2 is 16
Count_2 is 17
Count_2 is 18
Count_2 is 19
Count_2 is 20
Count_2 is 21
Count_2 is 22
Count_2 is 23
Count_2 is 24

In [ ]:
z =[5,3,8,6,7,2,9,1,4,0,32,34,55,21,34,56,65,235,678,76,89,90]

for item in z:
    if item >= 100:
        break
    print(item)

5
3
8
6
7
2
9
1
4
0
32
34
55
21
34
56
65

## Continue

In [34]:
r = [12,34,56,78,90,11,23,45,67,89,10,22,33,44,55,66,77,88,99]

In [35]:
for i in x:
    if i % 2 == 0:
        continue
    print(i)

43
13
67
99
9
23
21

In [39]:
count_r = 0

while True:
    if count_r == len(r)-1:
        break

    i = r[count_r]
    if i % 2 == 0:
        count_r += 1
        continue
    print(i)
    count_r += 1

11
23
45
67
89
33
55
77

## Iteration Dictionary and Set

In [ ]:
d = {
    "vishan":178,
    "ajay":165,
    "ram":172,
    "siri":160
}

for name in d:
    height = d[name]
    print(name, height)


for name , height in d.items():
    print(name)

vishan 178
ajay 165
ram 172
siri 160
<class 'tuple'>
('vishan', 178)
<class 'tuple'>
('ajay', 165)
<class 'tuple'>
('ram', 172)
<class 'tuple'>
('siri', 160)

## iterate set

In [ ]:
s = {
    "vishan","vish","ajay","ram","siri"
}

for name in s:
    print(name)

## Enumerate tuple

In [10]:
t = ("vishan",123,"Kalutara","Sri Lanka")
for i,item in enumerate(t):
         print(i,item)

0 vishan
1 123
2 Kalutara
3 Sri Lanka

## Enumerate.  Dictionary

In [12]:
d = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "occupation": "Engineer"
}
for i,x in enumerate(d.items()):
    name,height = x
    print(i,x)
    print(name,height)

0 ('name', 'Alice')
name Alice
1 ('age', 30)
age 30
2 ('city', 'New York')
city New York
3 ('occupation', 'Engineer')
occupation Engineer